#App {
  font-family: monospace;
  height: 100vh;
  color: hsl(120, 100%, 50%);
}

svg {
  background-color: hsl(120, 100%, 5%);
}

svg g#grid line.gline {
  stroke: hsla(120, 100%, 50%, 0.5);
  stroke-width: 1;
}
