#App {
  height: 100vh;
}

svg {
  background-color: black;
}

svg g#grid line.gline {
  stroke: rgba(255, 255, 255, 0.25);
}

span.percentage {
  font-family: monospace;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
}
